<section id="login" class="page login">
  <div class="wrapper">
    <div class="card">
      <h1 class="title">Iniciar sesión</h1>

      <form class="form-row" (ngSubmit)="onSubmit()">

        <div>
          <label class="small">Correo</label>
          <div class="input-icon">
            <input
              type="email"
              placeholder="correo"
              name="correo"
              [(ngModel)]="correo"
              required>
          </div>
        </div>

        <div>
          <label class="small">Contraseña</label>
          <div class="input-icon">
            <input
              type="password"
              placeholder="contraseña"
              name="contrasenia"
              [(ngModel)]="contrasenia"
              required>
          </div>
        </div>


        <div class="center">
          <button class="btn" type="submit">Entrar</button>
        </div>

        <div class="links">
          <a routerLink="/proyectoLudix/recuperar">¿Olvidaste tu contraseña?</a>
          <a routerLink="/proyectoLudix/signup">Crear cuenta</a>
        </div>

      </form>
    </div>
  </div>
</section>
