<nav class="navbar shadow-md">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between px-6 py-4">

    <!-- Logo -->
    <a class="text-3xl font-bold tracking-tight text-gray-800">Ludix</a>

    <!-- Menu botón móvil -->
    <button data-collapse-toggle="navbar-default" type="button"
      class="md:hidden p-2 w-10 h-10 flex items-center justify-center rounded-lg text-gray-600 hover:bg-gray-200 transition">
      ☰
    </button>

    <!-- Items -->
    <div class="hidden md:block" id="navbar-default">
      <ul class="flex space-x-6 items-center font-semibold">

        <li>
          <a [routerLink]="['proyectoLudix/home']" class="nav-link">Home</a>
        </li>

        <li>
          <a [routerLink]="['proyectoLudix/login']" class="nav-link">Iniciar Sesión</a>
        </li>

        <li>
          <a [routerLink]="['proyectoLudix/signup']" class="nav-link">Crear Cuenta</a>
        </li>

        <li>
          <a [routerLink]="['proyectoLudix/perfil']" class="nav-link">Perfil</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
