:root {
      --beige: #ead6c3;
      --card: #e9e9ea;
      --blue: #2085ff;
      --input-bg: #d9d7d7;
      --radius: 18px;
      --maxw: 520px;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    section {
      font-family: Inter, sans-serif;
      background: #fff;
      color: #222;
      padding: 40px 16px;
      display: flex;
      justify-content: center;
    }

    .card {
      background-color: rgba(193, 193, 193, 0.518);
      border-radius: 26px;
      padding: 30px 40px;
      max-width: 500px;
      width: 100%;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.02);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Centra el contenido horizontalmente */
    }

    .form-row {
      background-color: rgb(165, 165, 165);
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: 100%;
      max-width: 400px;
      /* Limita el ancho del formulario */
      padding: 20px;
      border-radius: 12px;
    }

    .title {
      font-family: Merriweather, serif;
      font-size: 30px;
      text-align: center;
      margin-bottom: 24px;
    }

    label {
      font-size: 13px;
      color: #000000;
      margin-bottom: 6px;
    }

    .input-icon {
      position: relative;
    }

    .input-icon input {
      width: 100%;
      padding: 12px 14px 12px 44px;
      border-radius: 12px;
      border: none;
      background: #d9d7d7;
      outline: none;
      color: #424242;
    }

    .left-icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      opacity: 1;
    }

    .right-action {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0.7;
    }

    .btn {
      display: block;
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      background: var(--blue);
      color: rgb(0, 0, 0);
      font-weight: 600;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-top: 12px;
    }
