<section>
  <div class="card">
    <h1 class="title">Crear Cuenta</h1>

    <form class="form-row" (submit)="registrar()">
      <div>
        <label>Nombre</label>
        <div class="input-icon">
          <svg class="left-icon" viewBox="0 0 24 24">
            <path d="M12 12c2.7 0 5-2.2 5-5s-2.3-5-5-5-5 2.2-5 5 2.3 5 5 5z" fill="#7b6f6f"/>
            <path d="M4 20c0-3.3 2.7-6 6-6h4c3.3 0 6 2.7 6 6v1H4v-1z" fill="#7b6f6f"/>
          </svg>
          <input [(ngModel)]="usuario.nombre" name="nombre" type="text" placeholder="nombre">
        </div>
      </div>

      <div>
        <label>Apellidos</label>
        <div class="input-icon">
          <svg class="left-icon" viewBox="0 0 24 24">
            <path d="M12 12c2.7 0 5-2.2 5-5s-2.3-5-5-5-5 2.2-5 5 2.3 5 5 5z" fill="#7b6f6f"/>
            <path d="M4 20c0-3.3 2.7-6 6-6h4c3.3 0 6 2.7 6 6v1H4v-1z" fill="#7b6f6f"/>
          </svg>
          <input [(ngModel)]="usuario.apellidos" name="apellidos" type="text" placeholder="apellidos">
        </div>
      </div>

      <div>
        <label>E-mail</label>
        <div class="input-icon">
          <svg class="left-icon" viewBox="0 0 24 24">
            <path d="M2 6l10 7 10-7v10a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" fill="#7b6f6f"/>
          </svg>
          <input [(ngModel)]="usuario.correo" name="correo" type="email" placeholder="correo electrónico">
        </div>
      </div>

      <div>
        <label>Contraseña</label>
        <div class="input-icon">
          <svg class="left-icon" viewBox="0 0 24 24">
            <path d="M6 10v6h12v-6H6z" fill="#7b6f6f"/>
          </svg>

          <!-- CORRECCIÓN IMPORTANTE -->
          <input [(ngModel)]="usuario.contrasenia" name="contrasenia" type="password" placeholder="contraseña">

        </div>
      </div>

      <button class="btn" type="submit">Registrarme</button>
    </form>
  </div>

  <div *ngIf="mensaje" class="msg">{{ mensaje }}</div>
</section>
