<section>

  <div class="layout">

    <div class="sidebar">
      <h2>Páginas</h2>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/home']">🏠 Página principal</a></div>
      <br>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/simulador']">🎮 Simulador</a></div>
      <br>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/test']">📒 Test</a></div>
      <br>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/videos']">📺 Videos</a></div>
      <br>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/admin']">🚹 Administrar</a></div>
      <br>
      <div class="menu-item"><a [routerLink]="['/proyectoLudix/contacto']">🛠️ Soporte</a></div>

    </div>

    <div class="content">
      <h1>Tu perfil</h1>

      <div class="profile-section">

        <!-- Foto -->
        <div class="photo-area">
          <div class="photo-circle">👤</div>
          <div class="edit-links">
            <a>Quitar foto</a>
            <button class="btn">Cambiar foto</button>
          </div>
        </div>

        <!-- Formulario info -->
        <div class="info-area">
          <label>Nombre de usuario</label><br>
          <input type="text" [(ngModel)]="nombre">
          <button class="btn" (click)="actualizarUsuario('nombre')">Editar</button>

          <label>Correo electrónico</label><br>
          <input type="email" [(ngModel)]="correo">
          <button class="btn" (click)="actualizarUsuario('correo')">Editar</button>

          <label>Contraseña</label><br>
          <input type="password" [(ngModel)]="constrasenia">
          <button class="btn" (click)="actualizarUsuario('contrasenia')">Cambiar</button>
        </div>

      </div>

      <!-- Historial -->
      <h2 class="historial-title">Historial</h2>

      <div class="history">
        <div class="history-item">
          <div class="img-placeholder">🖼️</div>
          <div class="progress" data-value="30"></div>
          <div class="img-placeholder">🖼️</div>
        </div>

        <div class="history-item">
          <div class="img-placeholder">🖼️</div>
          <div class="progress" data-value="50"></div>
          <div class="img-placeholder">🖼️</div>
        </div>
      </div>

    </div>

  </div>

</section>
