<section>
  <div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
      <h2>Admin Panel</h2>
      <ul class="menu">
        <li>Usuarios</li>
        <li><a [routerLink]="['/proyectoLudix/reportes']">Reportes</a></li>
        <li>Control</li>
        <li>Ajustes</li>
      </ul>
    </aside>

    <!-- Contenido principal -->
    <main class="content">
      <h1>Administración de Usuarios</h1>

      <!-- Tabla -->
      <div class="table-container">
        <table class="tabla-usuarios">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of usuarios">
              <td>{{user.id}}</td>
              <td>{{user.nombre}}</td>
              <td>{{user.apellidos}}</td>
              <td>{{user.correo}}</td>
              <td>
                <button class="btn-edit" (click)="seleccionarUsuario(user)">Editar</button>
                <button class="btn-delete" (click)="eliminar(user.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Formulario de edición -->
      <div class="edit-card" *ngIf="usuarioSeleccionado">
        <h2>Editar Usuario</h2>

        <label>Nombre:</label>
        <input type="text" [(ngModel)]="usuarioSeleccionado.nombre">

        <label>Apellidos:</label>
        <input type="text" [(ngModel)]="usuarioSeleccionado.apellidos">

        <label>Correo:</label>
        <input type="email" [(ngModel)]="usuarioSeleccionado.correo">

        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="usuarioSeleccionado.contrasenia">

        <div class="edit-buttons">
          <button class="btn-save" (click)="guardarCambios()">Guardar</button>
          <button class="btn-cancel" (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </div>

    </main>

  </div>
</section>
