<section class="section">
  <h2>Sobre Ludix</h2>
  <p>
    Ludix fue desarrollada por la empresa Star Design, dedicada al desarrollo de aplicaciones de
    entretenimiento, como <strong>Mouse House</strong>, un simulador 3D de un ratón, y <strong>Criminal Wars</strong>,
    un juego shooter 2D con una historia única y mecánicas divertidas.
    Ahora les presentamos <strong>Ludix</strong>, una aplicación creada para el aprendizaje y repaso de diversos
    idiomas mediante mecánicas únicas y entretenidas.
  </p>

  <div class="button-container">
    <button class="btn-primary" (click)="descargarJuego()">
      Descargar Juego ⬇️
    </button>
  </div>

  <h2>¿Quieres vivir la experiencia Ludix?</h2>
  <p>
    Aplicación diseñada para enseñar idiomas como inglés, francés, japonés y alemán, con el objetivo de que los usuarios
    aprendan de manera dinámica e interactiva, logrando un aprendizaje natural y significativo.
  </p>

  <div class="button-container">
    <button class="btn-primary" [routerLink]="['/proyectoLudix/simulador']">
      Simulador 🎮
    </button>
  </div>

  <h2>Descubre tu nivel</h2>
  <p>
    Prueba nuestro test, donde te recomendaremos el nivel ideal para que tu experiencia dentro de Ludix sea agradable y personalizada.
  </p>

  <div class="button-container">
    <button class="btn-primary" [routerLink]="['/proyectoLudix/test']">
      Test 📒
    </button>
  </div>
</section>
